<%- if controller_name != 'sessions' %>
 <p>既に会員登録済みの方</p>
  <P><%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。</p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。<br />
<% end %>



