<div class = "container">
 <div class = "row">
  <div class = "col-md-12">    

    <P>ようこそながのCAKEへ！</P>
    <P>このサイトは、ケーキ販売のECサイトになります。</P>
    <P>会員でもない方も商品の閲覧はできますが、</P>
    <P>購入には会員登録が必要になります。</P>
    </div>
    

  </div>
 </div>
</div>
